<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  	<title>Vue Example - Killjoy Planets</title>

    <style>
    body {
      background-color: lightblue;
      font-family: verdana;
      margin: 20px;
    }

    h1, h2, h3 {
      color: blue;
      /*margin-left: 10px;*/
    }
    </style>

  	<script src="https://unpkg.com/vue@next"></script>

</head>

<body>
	<h1>Welcome to The Quad</h1>

    <h2>Planets of The Quad</h2>
	<p>Some Info about The Quad Planetary System from Killjoys</p>

	<div id='quad_planets_1'>
	    <p>Name - {{ name }} </p>
	    <p>Type - {{ type  }} </p>
	    <p>Population - {{ population }} </p>
	</div>

	<br>
	<div id='quad_planets_2'>
	    <p>Name - {{ name }} </p>
	    <p>Type - {{ type  }} </p>
	    <p>Population - {{ population }} </p>
	</div>
    <br>

<!-- loops -->
    <h2>Moons around the Planet Qresh</h2>
    <strong>Example using Loops</strong>
    <div id="quad_test_loops">
        <p>The moons surrounding Qresh are - </p>
      <ol>
        <li v-for="moon in moons">{{ moon.label }}</li>
      </ol>
    </div>

    <!-- v-model directive Data binding -->
    <!-- <strong>Data Binding Example </strong> -->
    
    <h2>Favourite Drink at the Local Pub</h2>
    <strong>Data Binding Example </strong>
    <div id="app_model">
        <p>Enter your favrouite drink in the input box to see it reflected below:</p>
        <br><input v-model="value" />
        <blockquote>{{ value }}</blockquote>
    </div>

    <!-- v-on directive OnClick -->
    
    <h2>Donations for Insider Intel</h2>
    <strong>Random Number Generator Example</strong>
    <!-- <em>Random Number Generator Example</em> -->
    <p>How much should Dutch donate to Alvis the monk, to get some insider intelligence?</p>
    <div id="app_onclick">
      <span>$ {{ amount }}</span>
      <br>
      <button v-on:click="randomGenerate">{{ message }}</button>
    </div>
    <br>
    <br>

<script>
    const AppPlanetQresh = Vue.createApp({
        data() {
            return {
            	name: 'Qresh',
				population: '300',
				type: 'Dwarf Planet'
            };
        }
    });
    AppPlanetQresh.mount('#quad_planets_1');

    const AppPlanetArkyn = Vue.createApp({
        data() {
            return {
            	name: 'Arkyn',
				population: '0',
				type: 'Moon'
            };
        }
    });
    AppPlanetArkyn.mount('#quad_planets_2');

    //third test - v-for is used for loops
    //  what about a 2D array?
    const AppPlanetsLoop = Vue.createApp({
        data() {
            return {
                moons: [
                    { label: "Arkyn" },
                    { label: "Leith" },
                    { label: "Westerley" },
                  ],
            };
        }
    });
    AppPlanetsLoop.mount('#quad_test_loops');

    //data binding example - definitely need return stmt!
    const AppPlanetBinding = Vue.createApp({
        data() {
            return {
                value: 'The local whisky Hock'
            };
        }
    });
    AppPlanetBinding.mount('#app_model');

    //  click me example
    const AppPlanetClick = Vue.createApp({
        data() {
            return {
                message: "Click to generate a random donation amount",
                amount: 0
            };
        },
        methods: {
          randomGenerate() {
            this.amount = Math.random() *100
          },
        },
    });
    AppPlanetClick.mount('#app_onclick');

</script>

<h2>Cruise Options</h2>
<!-- create display for vue info -->
<!-- this info is NOT being updated! -->
<!-- <div id='quad_cruise'>
    <h3>{{ productName }}</h3>
    <div>{{ productDescription }}</div>
</div> -->




<div id="lucy_cruise">
    <h3>{{ productName }}</h3>
    <div>{{ productDescription }}</div>
    <p v-bind:style="sourceColor2">Book Now!</p>
    <p style="color:red;">Limited Seats Available</p>
    <p>Checkout Lucy the Spaceship</p>
    <img v-bind:src="imageSource2" />
</div>


<!-- <h3>Binding Colors</h2>
<div id="appBindTest"> -->
    <!-- <img v-bind:src="imageSource" /> -->
<!--     <p v-bind:style="sourceColor">Book Now!</p>
    <p style="color:red;">Limited Seats Available</p>
</div> -->

<!-- <h3>Checkout Lucy the Spaceship</h2>
<div id="appBindTest2">
    <img v-bind:src="imageSourceLucy" /> -->
    <!-- binding shorthand, using : -->
<!--     <img :src="imageSource" />
</div> -->

<br>

<!-- import the vue app, after the rest of the  html page has loaded -->
<script src="./index.js"></script>


</body>
</html>