<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  	<title>Vue Example - Killjoy Planets</title>

    <style>
        body {
          background-color: lightblue;
          font-family: verdana;
          margin: 20px;
        }

        h1, h2, h3 {
          color: blue;
        }
        img { width: 100%; }
    </style>

    <!-- load vue from CDN -->
  	<script src="https://unpkg.com/vue@next"></script>

</head>

<body>
	<h1>Welcome to The Quad!</h1>

    <h2>Planets of The Quad</h2>
    <strong>Example using handlebars {{ }}</strong>
	<p>Some Info about The Quad Planetary System from Killjoys</p>

	<div id='quad_planets_1'>
	    <p>Name - {{ name }} </p>
	    <p>Type - {{ type  }} </p>
	    <p>Population - {{ population }} </p>
	</div>

	<br>
	<div id='quad_planets_2'>
	    <p>Name - {{ name }} </p>
	    <p>Type - {{ type  }} </p>
	    <p>Population - {{ population }} </p>
	</div>
    <br>

    <!-- loops -->
    <h2>Moons around the Planet Qresh</h2>
    <strong>Loop Example using v-for</strong>
    <div id="quad_test_loops">
        <p>The moons surrounding Qresh are - </p>
      <ol>
        <li v-for="moon in moons">{{ moon.label }}</li>
      </ol>
    </div>

    <!-- v-model directive Data binding -->
    <h2>Favourite Drink at the Local Pub</h2>
    <strong>Data Binding Example using v-model</strong>
    <div id="app_model">
        <p>Enter your favrouite drink in the input box to see it reflected below:</p>
        <br><input v-model="value" />
        <blockquote>{{ value }}</blockquote>
    </div>

    <!-- v-on directive OnClick -->
    <h2>Donations for Insider Intel</h2>
    <strong>Random Number Generator Example using v-on</strong>
    <p>How much should Dutch donate to Alvis the monk, to get some insider intelligence?</p>
    <div id="app_onclick">
      <span>$ {{ amount }}</span>
      <br>
      <button v-on:click="randomGenerate">{{ message }}</button>
    </div>
    <br>
    <br>

    <script>
        const AppPlanetQresh = Vue.createApp({
            data() {
                return {
                	name: 'Qresh',
    				population: '300',
    				type: 'Dwarf Planet'
                };
            }
        });
        AppPlanetQresh.mount('#quad_planets_1');

        const AppPlanetArkyn = Vue.createApp({
            data() {
                return {
                	name: 'Arkyn',
    				population: '0',
    				type: 'Moon'
                };
            }
        });
        AppPlanetArkyn.mount('#quad_planets_2');

        //third test - v-for is used for loops - but what about a 2D array?
        const AppPlanetsLoop = Vue.createApp({
            data() {
                return {
                    moons: [
                        { label: "Arkyn" },
                        { label: "Leith" },
                        { label: "Westerley" },
                      ],
                };
            }
        });
        AppPlanetsLoop.mount('#quad_test_loops');
    </script>


    <h2>Cruise Options</h2>
    <strong>Example of Binding using v-bind for CSS Styles and Image Source</strong>

    <div  id="lucy_cruise">
        <h3>{{ productName }}</h3>
        <div>{{ productDescription }}</div>
        <p v-bind:style="sourceColor">Book Now!</p>
        <p style="color:red;">Limited Seats Available</p>
        <img v-bind:src="imageSource" /> 
        <!-- <p>Checkout Lucy the Spaceship - </p> -->
        
    </div>

    <br>
    <!--  FORM about how much u like Killjoys, or whose your fave char? with tick boxes and text aread
     -->
     <h2>Form Test - Vanilla JS</h2>
     <form id="js_form" method="post" action="">
        <input type="text" class="input" name="name">
        <br>
        <label><input type="checkbox" id="ex1" name="ex1" value="ex1optionA">Option A</label>
        <br>
        <label><input type="checkbox" id="ex2" name="ex2" value="ex2optionB">Option B</label>
        <br>
        <button type="submit" id="btn">Submit me</button>
     </form>

     <h2>Form Test - Vue</h2>
     <form id="vue_form" method="post" action="">
        <input type="text" class="input" name="name" v-model="name2">Name2: {{name2}}
        <br>

        <input type="text" v-model="msg">
        {{msg}}
        <br>

        <input type="checkbox" v-model="checked">Checked: 
        {{checked ? "yes" : "no"}}
        <br>

        <input type="checkbox" v-model="toggle" true-exp="a" false-exp="b">Toggle: 
        {{toggle ? "yes" : "no"}}
        <br>

        <label><input type="checkbox" id="ex1q1" name="ex1q1" value="optionA">Option A</label>
        <br>
        <label><input type="checkbox" id="ex1q2" name="ex1q2" value="optionB">Option B</label>
        <br>
        <!-- multiple select ie drop down text field -->
          <!-- <p>
            <select v-model="multiSelect" multiple>
              <option>one</option>
              <option>two</option>
              <option>three</option>
            </select>
            {{multiSelect}}
          </p> -->

        <button type="submit" id="btn">Submit me</button>
     </form>


    <!-- import the vue app, after the rest of the  html page has loaded -->
    <script src="./script.js"></script>

    <script>
        //process teh form steps
            // Grab the form
            // Grab the inputs in the form
            // Listen for the form's submit event
            // Grab the values of our inputs
            // Process!


        // JS eg - grab the things we need - get checkobox too!
        const signupForm = document.getElementById('js_form');
        const nameInput  = signupForm.querySelector('input[name=name]');
        const ex1Input  = signupForm.querySelector('input[name=ex1]');
        const ex2Input  = signupForm.querySelector('input[name=ex2]');

        // listen for the submit event - process js form
        signupForm.addEventListener('submit', processSignupForm);
        function processSignupForm(e) {
            e.preventDefault();
            // get our data
            const name  = nameInput.value;
            const ex1Value  = ex1Input.value;
            const ex2Value  = ex2Input.value;
            console.log({ name }, {ex1Value} );
            // form processing here
            alert('Processing! ' + name + " " + ex1Value);
        }


        //vue eg
        const signupFormVue = document.getElementById('vue_form');
        const box1Input  = signupFormVue.querySelector('input[name=ex1q1]');
        const box2Input  = signupFormVue.querySelector('input[name=ex1q2]');
        //why not htis? doesnt work 
        // const box2InputValue  = signupForm.querySelector('input[name=ex1q2]').value;

        //process vue form
        signupFormVue.addEventListener('submit', processSignupFormVue);
        function processSignupFormVue(e) {
            e.preventDefault();
            console.log("signupFormVue");

            
            const box1Value  = box1Input.value;
            const box2Value  = box2Input.value;
            //how to get isChecked values and toggled values?? do i even need to get it in JS?? or just in Vue??
            // const box2Value  = box2Input.checked;
            console.log(box1Value);
            console.log(box2Value);
            //get checked and toggle values
            const result1 = toggle;
            // const result2 = "{{toggle}}";
            console.log(result1);
        }


        //VUE - this syntax doenst seemt to work for me, might be for diff vue version?
        // new Vue({
        //   el: '#vue_form',
        //   data: {
        //     msg      : 'hi!',
        //     checked  : true
        //   }
        // })

        Vue.createApp({
            data() {
                return {
                    msg      : 'killjoys are cool!',
                    checked  : true,
                    toggle: false,
                    name2: ""
                }
            }
        }).mount('#vue_form'); 
        // if get msg lik this - " [Vue warn]: Property "toggle" was accessed during render but is not defined on instance.   at <App> ""
        // means need to add item to data() return method of vue app - as this is what does the binding

        // NEXT submit the form
        // https://scotch.io/courses/getting-started-with-vuejs/processing-a-form-with-vue


    </script>


</body>
</html>